.main {
    background-color: var(--main-bg);
    height: calc(100vh - 70px);
    padding: var(--padding-2) var(--padding-layout);
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: var(--padding-1) var(--padding-layout);
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.userContainer {
    display: flex;
    align-items: center;
    gap: var(--gap-1);
}

.userContainer .imgUser {
    height: 40px;
    width: 40px;
    background-color: var(--third-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
}

.userContainer .userName {
    text-transform: capitalize;
}

.logout {
    display: flex;
    align-items: center;
    gap: var(--gap-1);
    cursor: pointer;
}

/* app */
.container {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(400px, 500px) minmax(400px, 1fr);
    grid-template-rows: min-content min-content 1fr;
    grid-gap: var(--gap-2);
}

.addValue,
.balance,
.transactions,
.generateReport {
    background-color: var(--light-color);
    border-radius: var(--radius);
    padding: var(--padding-2);
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.addValue {
    grid-row: 1/3;
}

.addValue .input {
    height: 40px;
    display: flex;
    gap: var(--gap-1);
}

.addValue .input>input {
    border: var(--border);
    border-radius: var(--radius);
    outline: none;
    padding: var(--padding-1);
    width: 50%;
}

.addValue .input>input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.addValue .input>input::-webkit-inner-spin-button,
.addValue .input>input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.addValue>button {
    height: 40px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--third-color);
    cursor: pointer;
    color: var(--light-color);
    transition: var(--transition);
}

.addValue button:hover {
    filter: brightness(1.2);
}

.addValue textarea {
    width: 100%;
    outline: none;
    padding: var(--padding-1);
    border: var(--border);
    border-radius: var(--radius);
    resize: none;
}

.selectContainer {
    height: 40px;
    display: flex;
    gap: var(--gap-1);
}

.select {
    width: 50%;
    height: 100%;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border);
    padding: var(--padding-1);
}

.select>p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 0.8rem;
}

.select i {
    cursor: pointer;
    font-size: 0.8rem;
}

.select select {
    width: 100%;
    border: none;
    outline: none;
}

.tooltip {
    position: absolute;
    background-color: var(--third-color);
    color: #fff;
    padding: 8px;
    border-radius: var(--radius);
    bottom: 10px;
    left: calc(50% - 130px);
    width: 260px;
    text-align: center;
    font-size: 0.8rem;
}


.transactions {
    grid-row: 2/4;
    grid-column: 2/3;
    overflow-y: auto;
}

.transactions::-webkit-scrollbar {
    width: 18px;   
}

.transactions::-webkit-scrollbar-track {
    background: var(--light-color);
    border-radius: var(--radius);
}

.transactions::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: var(--radius); 
    border: 5px solid var(--light-color);
}

.transactions ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.transactions ul>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--main-bg);
}

.transactions .transactionType {
    display: flex;
    gap: var(--gap-1);
}

.transactions .descriptionDiv>p {
    text-transform: capitalize;
    font-weight: bold;
}

.transactions .typeOfDiv {
    display: flex;
    gap: var(--gap-1);
}


.transactions .typeOf>p {
    font-size: 0.8rem;
}

.transactions .type {
    background-color: var(--secondary-color);
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: var(--radius);
}

.transactionValue {
    display: flex;
    gap: var(--gap-1);
    align-items: center;
    position: relative;
}

.action>button {
    height: 45px;
    width: 35px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.action button:active i {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.generateReport {
    grid-row: 3/4;
}

.cashContainer {
    display: flex;
    justify-content: space-between;
}

.cashHeader {
    display: flex;
}

.cashFlow {
    display: flex;
    align-items: center;
    gap: var(--gap-1);
    border-radius: var(--radius);
}

.cashFlow>i {
    height: 45px;
    width: 45px;
    border-radius: var(--radius);
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.cashInfo .cashType {
    font-size: 0.8rem;
}

.balance {
    grid-row: 1/2;
}

.notesModal {
    position: absolute;
    height: 200px;
    width: 180px;
    border-radius: var(--radius);
    bottom: -200px;
    background-color: var(--yellow-color);
    padding: var(--padding-1);
    font-size: 0.8rem;
    z-index: 2000;
}

