.main {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
}

/* header */
.headerApp {
    background-color: var(--secondary-color);
    height: 70px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-3)
}

.userDiv {
    display: flex;
    align-items: center;
    gap: var(--gap-1)
}

.userDiv .imgUser {
    height: 40px;
    width: 40px;
    background-color: var(--third-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDiv > p {
    text-transform: capitalize;
    font-size: var(--font-1);
}

.logout {
    cursor: pointer;
}

/* app content */
.appContent {
    height: calc(100% - 70px);
    padding: var(--padding-1);
    display: grid;
    grid-template-columns: 60vw 1fr;
    grid-template-rows: 30vh 60vh;
    grid-gap: var(--gap-2)
}

.addValue, .balanceDiv {
    background-color: var(--secondary-color);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    grid-column: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-1);
    color: var(--light-color);
}

/* addValue */
.input {
    height: 40px;
    width: 90%;
    display: flex;
    gap: var(--gap-1)
}

.input > input {
    height: 100%;
    width: max-content;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    border-radius: var(--radius);
    padding: var(--padding-input);
    width: 50%;
    color: var(--light-color);
    font-size: var(--font-1);
}

.select {
    height: 40px;
    width: 90%;
    display: flex;
    gap: 10px;
}

.select > select {
    width: 50%;
    border: var(--border-default);
    background-color: var(--primary-color);
    border-radius: var(--radius);
    padding: 0 var(--padding-1);
    color: var(--light-color);
    cursor: pointer;
    outline: none;
}

.select > select option {
    height: 40px; /* Define a altura desejada para as opções */
    background-color: var(--primary-color); /* Cor de fundo */
    color: var(--light-color); /* Cor do texto */
}

.addValue > button {
    height: 40px;
    border: none;
    background-color: var(--third-color);
    width: 90%;
    border-radius: var(--radius);
    color: var(--light-color);
    cursor: pointer;
    transition: var(--transition);
    margin-top: 10px;
}

.addValue > button:hover {
    filter: brightness(1.2); 
}

/* balance */
.balanceDiv {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
}
.balanceHeader {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: var(--font-2);
}

.balance {
    color: var(--green-color);
}

