@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --primary-color: #0f0f0f;
  --secondary-color: rgb(52, 50, 50);
  --third-color: #6867ee;
  --light-color: #fff;
  --silver-color: #9d9999;
  --grey-color: #343536;
  --red-color: #f03f3f;
  --green-color: #3ae361;
  --yellow-color: #ffdb58;

  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 15px;
  --font-sm: 0.8rem;
  --font-md: 1rem;
  --font-lg: 1.3rem;
  --padding-sm: 10px;
  --padding-md: 20px;
  --padding-lg: 30px;
  --padding-layout: 10%;
  --padding-input: 5px 20px;
  --gap-sm: 10px;
  --gap-md: 20px;
  --gap-lg: 30px;

  --border: 1px solid #b6afafab;
  --transition: 0.3s;
  --font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-family);
}
