.main {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-1);
}

/* form */
.formLogin {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-2);
    gap: var(--gap-3);
    border-radius: var(--radius);
    background-color: var(--secondary-color);
    color: var(--light-color);
    box-shadow: var(--shadow);
}

.formTop {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.formBody {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    width: 80%;
    position: relative;
}

.msgError {
    color: var(--error-color);
    position: absolute;
    bottom: -22px;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.formFooter {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    width: 80%;
    gap: var(--gap-3);
}

.formLogin button {
    height: 40px;
    border: none;
    padding: var(--padding-input);
    border-radius: var(--radius);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    background-color: var(--third-color);
    font-size: var(--font-size-1);
    transition: var(--transition);
    margin-top: 10px;
}

.formLogin button:hover {
    filter: brightness(1.2); 
}

.formLogin input {
    height: 40px;
    border: none;
    padding: var(--padding-input);
    outline: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--light);
    font-size: var(--font-1);
}

/* spinner */
.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secundary-color);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid var(--third-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
